@media print {
    @page {
      size: auto;
    }
    body * {
      visibility: hidden;
    }
    .section-to-print, .section-to-print * {
      visibility: visible;
    }
    .section-to-print {
      position: relative;
      left: 0;
      top: -200px;
      width: 8.5in;
    }
  }