html {
  height: 100%;
}

body {
  margin: 0px;
  height: -webkit-fill-available;
}

#target {
  height: -webkit-fill-available;
}

.scrollTable{
  height: 400px;   
  overflow-y: auto;  /* Trigger vertical scroll    */
  overflow-x: auto;  /* Hide the horizontal scroll */
}